/bootstrap/compiled.php
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
.idea
app/config/app.php
app/config/database.php
app/config/packages/scalia/sphinxsearch/config.php
sphinx/etc
sphinx/index
sphinx/log
sphinx/run