.panel-filtro-anidado {
  padding: 5px 15px;
}
.panel-filtro-anidado ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0 20px;
}
.panel-filtro-anidado ul:first-child {
  padding: 0;
}
.panel-filtro-anidado ul li {
  font-size: 12px;
  line-height: 20px;
  display: none;
  padding: 4px 0;
}
.panel-filtro-anidado ul li.active {
  display: block;
}
.panel-filtro-anidado .badge {
  opacity: 0.5;
  font-size: 11px;
}
.chart.pie {
  width: 100%;
  height: 600px;
}
.form-medios-table td.url {
  position: relative;
}
.form-medios-table td.url .fileinput-button {
  position: absolute;
  top: 15px;
  right: 15px;
}
